<div>
    <a href="https://www.facebook.com/miri.fv/"><img src="../../../assets/353422-facebook-logo_107496.png" alt="" id="facebook"></a>
    <a href="https://www.instagram.com/miri_fv/"><img src="../../../assets/instagram.png" alt="" id="instagram"></a>
    <a href="https://www.linkedin.com/in/miranda-frias-4400ing/"><img src="../../../assets/linkedin_icon_194151.png" alt="" id="linkedin"></a>
    <a href="https://github.com/MiriFV"><img src="../../../assets/logotipo-de-github.png" alt="" id="github"></a>
</div>
